<% name = current_user.present? ? current_user.name : 'Stranger' %>

<h1>Welcome, <%= name %> </h1>
<p>Find me in app/views/home/index.html.erb</p>




<!--<h1>Hi There!!</h1>-->

<%#= button_to "logout", destroy_user_session_path, method: :delete  %>